html {
  scroll-behavior: smooth;
  font-size: 14px;
  background-color: var(--nblack);
}

:root {
  --nwhite: #f4f4eb;
  --nwhiteaccent: rgb(249, 247, 246);
  --textcolor: #7d6e5e;
  --accentcolor: #f1deb6;
  --nblack: hsl(50, 7%, 17%);
  --adoblue: #1a202c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: var(--nwhite);
  animation: fadeIn 2s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.body-sect-header {
  padding: 3% 0% 2rem 0%;
  text-transform: uppercase;
  font-size: 1.75rem;
  text-align: center;
  font-weight: 900;
  font-stretch: expanded;
  letter-spacing: .2rem;
  color: var(--nblack);
}

.body h3 {
  text-align: center;
  font-weight: 500;
  color: var(--textcolor);
  padding-bottom: 3%;
}

.body h1 {
  color: var(--nblack);
}

p {
  color: var(--textcolor);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--textcolor);
}

a:hover {
  color: var(--textcolor);
  -webkit-filter: brightness(105%);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

a:visited {
  color: var(--textcolor);
}

::selection {
  color: var(--nblack);
  background: var(--accentcolor);
}

.fa {
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa:hover {
  opacity: .8;
}

/* HEADER */
header {
  z-index: 9999;
  text-transform: uppercase;
  transform: scale(1, 1.025);
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 5px 4%;
  transition: .75s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

header.top .logo a {
  color: var(--nwhite);
}

header.sticky {
  padding: 5px 5%;
  background: var(--nwhite);
  transition: 1s cubic-bezier(0.445, 0.05, 0.55, 0.95)
}

header.sticky li a {
  color: var(--nblack);
  text-shadow: none;
  transition: 1.25s cubic-bezier(0.445, 0.05, 0.55, 0.95)
}

header.sticky .logo a {
  color: var(--textcolor);
  text-shadow: none;
  transition: 1.25s cubic-bezier(0.445, 0.05, 0.55, 0.95)
}

header.sticky .toggle-btn i {
  color: var(--textcolor);
  text-shadow: none;
  transition: 1.25s cubic-bezier(0.445, 0.05, 0.55, 0.95)
}

header.sticky ul li a {
  color: var(--textcolor);
  text-shadow: none;
  transition: 1.25s cubic-bezier(0.445, 0.05, 0.55, 0.95)
}

header.sticky .navbar-custom li .dropdown-custom {
  color: var(--textcolor);
  text-shadow: none;
  transition: 1.25s cubic-bezier(0.445, 0.05, 0.55, 0.95)
}

header.sticky .nav-dropdown-custom i {
  font-size: 1rem;
  color: var(--textcolor);
  transition: 1.25s cubic-bezier(0.445, 0.05, 0.55, 0.95)
}

header .logo {
  position: relative;
  font-weight: 700;
  color: var(--nwhite);
  text-shadow: 1px 1px 1px var(--textcolor);

  text-decoration: none;
  font-size: 1rem;
  text-transform: uppercase bold;
  transition: 0.6s;
}

header ul {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 0;
}

.navbar-custom ul li a {
  color: var(--nwhite);
  text-decoration: none;
  font-weight: 400;
  text-shadow: 1px 1px 1px var(--textcolor);
}

.navbar-custom ul li .dropdown-custom {
  font-size: 1rem;
  color: var(--nwhite);
  text-shadow: 1px 1px 1px var(--textcolor);
}

.navbar-custom ul li .dropdown-custom .dropdown-custom-content a {
  color: var(--textcolor);
  text-shadow: none;
}

.navbar-custom {
  width: 100%;
  height: 75px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.6s;
  z-index: 900;
}

.navbar-custom .logo a {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--nwhite);
  letter-spacing: .5px;
  z-index: 901;
}

.navbar-custom .links {
  display: flex;
  gap: 2rem;
  z-index: 902;
}

.navbar-custom .links a {
  font-size: 1.1rem;
  z-index: 905;
}

.navbar-custom .toggle-btn {
  color: var(--nwhite);
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
  z-index: 906;
}

.links .nav-dropdown-custom i {
  font-size: 1rem;
  font-size: 100;
  color: var(--nwhite);
}

.action-btn {
  background-color: var(--accentcolor);
  padding: .5rem 1rem;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: .5s;
}

.action-btn:hover {
  scale: 1.05;
  -webkit-filter: saturate(1.25);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;

}

.action-btn:active {
  scale: .95;
}

/* PORTFOLIO dropdown-custom */

#hero-port-text {
  padding: 100px 0;
}

.dropdown-custom {
  float: left;
  overflow: hidden;
  border: none;
  color: var(--textcolor);
  font-size: 1.5rem;
  background-color: inherit;
  transition: .1s;
}

.dropdown-custom .dropdown-custom-content a {
  font-size: 1rem;
}

.navbar-custom a:hover,
.dropdown-custom:hover a {
  font-weight: 400;
}

.nav-dropdown-custom .dropdown-custom-content a:hover {
  background-color: var(--accentcolor);
  transition: .1s;
}

/* dropdown-custom content (hidden by default) */
.dropdown-custom-content {
  display: none;
  position: absolute;
  background-color: var(--nwhiteaccent);
  min-width: fit-content;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
}

/* Links inside the dropdown-custom */
.dropdown-custom-content a {
  float: none;
  font-size: 1rem;
  color: black;
  padding: 1rem 2.5rem;
  text-decoration: none;
  display: block;
  text-align: center;
}

.dropdown-custom-content a:hover {
  color: var(--textcolor);
  text-emphasis: bold;
  transition: .25s;
}

.dropdown-custom:hover .dropdown-custom-content {
  display: block;
}

.dropdown-custom:click .dropdown-custom-content {
  display: block;
}

/* DROWPDOWN MENU */
.dropdown-custom-menu {
  display: none;
  text-align: center;
  top: 75px;
  height: 0px;
  width: 100%;
  background: var(--nwhite);
  backdrop-filter: blur(15px);
  border-radius: 0px;
  overflow: hidden;
  z-index: 1000;
}

.dropdown-custom-menu.open {
  position: fixed;
  height: 100vh;
  padding: 5%;
  transition: height .5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.dropdown-custom-menu.open li {
  text-align: justify;
  padding: 4%;
}

.dropdown-custom-menu.open .main .section #hero {
  background-color: var(--accentcolor);
  background-image: none;
}

.dropdown-custom-menu li {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown-custom-menu li a {
  font-size: 1.5rem;
}

.dropdown-custom-menu .action-btn {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* HERO */
.hero {
  filter: contrast(.8);
  background-size: cover;
  background-position: 80% 20%;
}

section#hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--nwhite);
  padding: 4rem;
}

.hero h1 {
  font-size: 2.25rem;
  margin-bottom: 1rem;
  color: var(--nwhite);
  text-shadow: 1px 1px 2px var(--accentcolor);
}

.hero p {
  font-size: .75rem;
  color: var(--nwhite);
  text-shadow: 1px 1px 2px var(--accentcolor);
  overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  border-right: .15em solid var(--accentcolor);
  /* The typwriter cursor */
  white-space: nowrap;
  /* Keeps the content on a single line */
  margin: 0 auto;
  /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em;
  /* Adjust as needed */
  animation:
    typing 7.5s steps(45, end),
    blink-caret .75s step-end infinite;
}

#hero {
  text-align: center;

}

.carousel {
  vertical-align: middle;
  text-align: center;
}

.carousel-inner {
  background-color: var(--nblack);
  vertical-align: middle;
  text-align: center;
  transition: cubic-bezier(0.06, 1, 0.9, 0.045)
}

.carousel-caption {
  padding-bottom: 5rem;
}

.carousel-caption .display-1 {
  size: 10rem;
}

.carousel-indicators {
  padding-bottom: 2rem;
}

#hero-img1 {
  background-position: 20% 80% 0 0;
}


/* The typing effect */
@keyframes typing {
  from {
    width: 0%
  }

  to {
    width: 30%
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

  from,
  to {
    border-color: transparent
  }

  30% {
    border-color: var(--accentcolor)
  }
}


/* HERO TEMP */


.c-item {
  height: 100vh;
}

.c-img {
  height: 100%;
  object-fit: cover;
  filter: brightness(0.5);
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}


/* BODY */
.body {
  padding: 2% 5%;
  margin-bottom: 1rem;
}

/* ABOUT */
.about-dcontainer {
  width: 100%;
}

.imageSection {
  grid-area: imageSect;
}

.infoSection {
  grid-area: infoSect;
  padding: 5%;
}

.about-dcontainer .about-content-boxes {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-gap: 5%;
  grid-template-areas: 'imageSect infoSect infoSect';
}

.about-content-boxes .imageSection {
  position: relative;
  max-width: 526px;
  height: auto;
}

.imageSection img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  z-index: 1;

}

.about-content-boxes .imageSection::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  outline: 3px solid var(--accentcolor);
  top: 10px;
  left: 10px;
  z-index: 0;
}

.infoSection {
  text-align: justify;
  text-justify: inter-word;
}

.infoSection h1 {
  color: var(--textcolor);
  font-size: 2rem;
  text-transform: uppercase;
  display: inline-block;
  margin: 2.5% 0px;
  position: relative;
}

.infoSection h2 {
  font-size: 1.5rem;
  color: var(--textcolor);
  padding: 5% 0%;
  text-transform: capitalize;
  letter-spacing: 1px;
  font-weight: 50;

}

.infoSection h2 .extra {
  font-weight: 800;
}

.personal-info {
  padding: 5% 0% 0% 0%;
  text-align: justify;
  text-justify: inter-word;
}

.personal-info hr {
  display: none;
  margin: 5% 0%;
  height: 3px;
  background-color: var(--accentcolor);
  border: none;
}

.personal-info p {
  padding: 1rem 0 1.25rem 0;
  font-size: 1.25rem;
}

.personal-info b {
  color: var(--nblack);
}

.personal-info ol {
  padding-top: 0;
}

.personal-info ol li {
  padding: .25% 0;
  color: var(--textcolor);
}

.personal-info a {
  font-weight: 900;
}

.personal-info a:hover {
  color: var(--nblack);
}

/* WAVING HANDS */
.waving-hand {
  animation-name: wave-animation;
  animation-duration: 2s;
  animation-iteration-count: 20;
  transform-origin: 60% 70%;
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0.0deg)
  }

  15% {
    transform: rotate(12.0deg)
  }

  30% {
    transform: rotate(-6.0deg)
  }

  40% {
    transform: rotate(14.0deg)
  }

  50% {
    transform: rotate(-7.0deg)
  }

  60% {
    transform: rotate(8.0deg)
  }

  70% {
    transform: rotate(-4.0deg)
  }

  80% {
    transform: rotate(0.0deg)
  }

  100% {
    transform: rotate(0.0deg)
  }
}

/* PORTFOLIO CARDS */
#portfolio-cards {
  display: grid;
  place-items: center center;
  padding: 0% 5%;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit,
      minmax(150px, 1fr));
  padding: 0 0 0 0;
  grid-gap: 1% 2%;
}

.card {
  background-color: var(--nwhiteaccent);
  max-width: fit-content;
  border-radius: 20px;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
}

.card:hover {
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.3);
  filter: saturate(0.01);
  transition: ease .33s;
}

.card-container {
  position: relative;
  clip-path: polygon(0, 0, 100% 0, 100% 85%, 0 100%);
}

.card img {
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 20px 20px 0 0;
}

.card-container:after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px 20px 0 0;
  opacity: .5;
  z-index: -855;
}

.details {
  padding: 5%;
  text-align: center;
}

.details h3 {
  color: var(--nblack);
  font-weight: 800;
  margin: 10px 0 15px 0;
}

.details p {
  color: var(--textcolor);
  font-weight: 200;
}

.details i {
  color: var(--nwhiteaccent);
  display: block;
  text-align: bottom;
}

.card:hover .details i {
  color: var(--nblack);
  transition: ease .5s;
}

/* TESTIMONIALS */

.testimonial-bubble {
  border-radius: 20px;
  padding: 0% 15%;
}


.slideshow-container {
  position: relative;
}

.testmnl-slide {
  display: none;
  padding: 0% 10% 2% 10%;
  text-align: center;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: var(--textcolor);
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  color: var(--nblack);
  transition: .35s;
}

.dot-container {
  text-align: center;
  padding: 1%;
}

.dot {
  cursor: pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: lightgray;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.25s ease;
}

.active,
.dot:hover {
  background-color: var(--textcolor);
  transition: .5s;
}

q {
  font-style: italic;
  font-size: 1rem;
  color: var(--textcolor);
  text-align: justify;
  text-justify: inter-word;
}

.author {
  color: var(--nblack);
  margin-top: 1rem;
  font-weight: bold;
}

.button-link {
  text-align: center;
}

.button-link button {
  color: var(--nblack);
}

.testimonial-btn {
  text-align: center;
}

.see-more-button {
  border-radius: 25px;
  border: none;
  margin: 2.5% 0 1rem 0;
  width: 15rem;
  min-height: 5rem;
  font-weight: 600;
  background-color: var(--accentcolor);
}

.see-more-button:hover {
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.2);
  transition: .25s;
  background-color: var(--textcolor);
  color: var(--accentcolor);
}

.see-more-button a button {
  color: var(--nblack);
}






/* TIMELINE */
/* The actual timeline (the vertical ruler) */
.timeline-line {
  position: relative;
  max-width: 100%;
}

/* The actual timeline (the vertical ruler) */
.timeline-line::after {
  content: '';
  position: absolute;
  width: 3px;
  background-color: var(--nblack);
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.timeline-dcontainer {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.timeline-dcontainer::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -11px;
  background-color: var(--accentcolor);
  border: 3px solid var(--nblack);
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid var(--nwhiteaccent);
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent var(--nwhiteaccent);
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid var(--textcolor);
  border-width: 10px 10px 10px 0;
  border-color: transparent var(--nwhiteaccent) transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -14px;
}

/* The actual content */
.timeline-dcontent {
  padding: 2rem 1.5rem;
  background-color: var(--nwhiteaccent);
  position: relative;
  border-radius: 10px;
}

.timeline-dcontent p {
  color: var(--textcolor);
  margin: 1rem 0;
}

.timeline-dcontent a {
  font-weight: 900;
}

.timeline-dcontent a:hover {
  color: var(--nblack);
}

/* CONTACT */
#contact {
  height: fit-content;
}

.Uc2NEf{
  background-color: #1a202c;

}

.teQAzf {
  padding: 0%;
  background-color: #1a202c;
}

iframe {
  width: 100%;
  height: 1875px;
  border: 0;
  margin: 0;
}

/* FAQ */

.container-faq {
  color: var(--textcolor);
  display: flex;
  min-height: 100vh;
  margin: 0 auto;
  padding: 1rem 0rem;
  width: 100%;
}

.accordion .accordion-item {
  border-bottom: 1px solid var(--accentcolor);
}

.accordion .accordion-item button[aria-expanded='true'] {
  border-bottom: 1px solid var(--accentcolor);
}

.accordion button {
  position: relative;
  display: block;
  text-align: left;
  width: 100%;
  padding: 5%;
  color: var(--textcolor);
  font-size: 1.25rem;
  font-weight: 400;
  border: none;
  background: none;
  outline: none;
}

.accordion button:hover,
.accordion button:focus {
  cursor: pointer;
  color: var(--nblack);
}

.accordion button:hover::after,
.accordion button:focus::after {
  cursor: pointer;
  color: var(--nblack);
  border: 1px solid var(--nblack);
}

.accordion button .accordion-title {
  padding: 1rem 3.5rem 1rem 0rem;
}

.accordion button .icon {
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 2rem;
  width: 22px;
  height: 22px;
  border: 1px solid;
  border-radius: 22px;
}

.accordion button .icon::before {
  display: block;
  position: absolute;
  content: '';
  top: 9px;
  left: 5px;
  width: 10px;
  height: 2px;
  background: currentColor;
}

.accordion button .icon::after {
  display: block;
  position: absolute;
  content: '';
  top: 5px;
  left: 9px;
  width: 2px;
  height: 10px;
  background: currentColor;
}

.accordion button[aria-expanded='true'] {
  color: var(--nblack);
}

.accordion button[aria-expanded='true'] .icon::after {
  width: 0;
}

.accordion button[aria-expanded='true']+.accordion-content {
  opacity: 1;
  max-height: 25rem;
  transition: all 200ms linear;
  will-change: opacity, max-height;
}

.accordion .accordion-content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 200ms linear, max-height 200ms linear;
  will-change: opacity, max-height;
}

.accordion .accordion-content p {
  font-size: 1rem;
  font-weight: 300;
  margin: 2.5% 2.5% 5% 2.5%;
}

/* FOOTER */
footer {
  padding: 2.5% 5%;
  text-align: center;
}

.back-to-top-dcontainer {
  text-align: center;
  padding: 2%;
}

.back-to-top-icon {
  padding: 2%;
  font-weight: 400;
}

.back-to-top-icon:hover i {
  scale: 1.1 1.25;
  transition: .25s linear;
}

.footer-bar {
  margin: .5rem;
}

footer p {
  font-size: x-small;
  color: var(--textcolor);
  padding: 0;
}

footer p a {
  font-weight: bold;
  font-size: 1.15rem;
  color: var(--nblack);
}

footer .fa-brands {
  color: black;
}

footer .fa-brands:hover {
  color: var(--textcolor);
  transition: .25s;
}




/* NON-HERO */

.non-hero {
  margin: 0;
  width: 100%;
  height: 6rem;
  filter: blur(1);
  background: linear-gradient(rgba(121, 59, 1, 0.4), rgba(121, 59, 1, 0.15), rgba(121, 59, 1, 0));
}

/* PHOTO GALLERY */
.alt-sect-header {
  padding: 2% 0% 0rem 0%;
  text-transform: uppercase;
  font-size: 2.25rem;
  letter-spacing: .2rem;
  text-align: center;
  font-weight: 900;
  font-stretch: expanded;
  color: var(--textcolor);
}


.photo-dcontainer {
  width: 90%;
  margin: auto;
  padding: 2rem 0;
}

.photo-gallery {
  display: flex;
  gap: 1rem;
}

.subheading {
  text-align: center;
  color: var(--textcolor);
  font-size: 1rem;
  font-family: "Times New Roman", Times, serif;
}

.sub-description{
  font-size: .75rem;
  padding: 1rem 5%;
  font-style: italic;
  text-align: center;
}

.gtitle {
  text-align: center;
  color: var(--textcolor);
  padding: 1rem;
}

.gtitle h4{
}

.gcolumn {
  display: flex;
  max-width: 33%;
  flex-direction: column;
  gap: 1rem;
}

.gphoto img {
  max-width: 100%;
  object-fit: cover;
}

/* FULL TESTIMONIALS PAGE */
#full-testimonial {
  display: flex;
  gap: 1rem;
}

/* Style the container with a rounded border, grey background and some padding and margin */
.ftestimonial-dcontainer {
  max-width: 100%;
  background-color: white;
  border-radius: 10px;
  padding: 2rem;
  margin: 0;
}


.ftestimonial .serif{
  font-family: "Times New Roman", Times, serif;
  font-size: 1.1rem;
}

/* Clear floats after containers */
.ftestimonial-dcontainer::after {
  content: "";
  clear: both;
  display: table;
}

/* Increase the font-size of a span element */
.ftestimonial-dcontainer span {
  font-size: 1.5rem;
  margin-right: 1rem;
}

.ftcolumn {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.ftestimonial {
  width: 100%;
  object-fit: cover;
  text-align: justify;
}

.ftestimonial img {
  float: left;
  padding: 0rem 2rem 2rem 0rem;
  max-width: 25rem;
  overflow: hidden;
  border: 2px var(--accentcolor);
}

/* EVEN MORE TESTIMONIALS SECTION */

.emftestimonial-dcontainer {
  padding: 0 25%;
  text-align: justify;
}

.smtestestimonial {
  border-left: 1px solid grey;
  height: auto;
  padding-left: 2rem;
  margin: 4rem 2.5rem 1rem 2rem;
}

.even-more-ft q {
  text-align: justify;
}

.emtestimonial-name {
  text-align: center;
  color: var(--nblack);
}









/* RESPONSIVE FEATURES */

@media(max-width: 1079px) {

  .navbar-custom .links,
  .navbar-custom .action-btn {
    display: none;
  }

  .navbar-custom .toggle-btn {
    display: block;
  }

  .dropdown-custom-menu {
    display: block;
  }

  .contact-btn {
    display: none;
  }

  html {
    font-size: 15px;
  }

  .about-dcontainer .about-content-boxes {
    grid-template-areas: 'imageSect imageSect'
      'infoSect infoSect';
  }

  .timeline-line::after {
    left: 29px;
  }

  .timeline-dcontainer::after {
    left: 31px;
  }

  /* Full-width containers */
  .timeline-dcontainer {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  /* Make sure that all arrows are pointing leftwards */
  .timeline-dcontainer::before {
    left: 60px;
    border: medium solid var(--nwhiteaccent);
    border-width: 10px 10px 10px .1px;
    border-color: transparent var(--nwhiteaccent) transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .left::after,
  .right::after {
    left: 15px;
  }

  /* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }

  iframe {
    height: 2050px;
  }

  .ftestimonial-dcontainer {
    text-align: center;
  }

  .ftestimonial-dcontainer img {
    margin: auto;
    float: none;
    display: block;
  }

  .ftestimonial-dcontainer span,
  p {
    display: block;
    text-align: center;
    justify-content: space-between;
  }

  .even-more-ft {
    display: block;
  }


}

/* Mobile Devices */
@media (max-width: 576px) {
  .dropdown-custom-menu {
    width: 100%;
  }

  .dropdown-custom-menu.open li {
    text-align: justify;
    padding: 6%;
  }

  html {
    font-size: 13px;
  }

  .hero p {
    animation:
      typing 3s steps(40, end),
      blink-caret 2s step-end infinite;
  }

  .hero p {
    font-size: .25rem;
  }

  #hero1 img{
    content: url('/Assets/hero/1v.jpg');
  }

  #hero3 img{
    content: url('/Assets/hero/3v.jpg');
  }

  #hero4 img{
    content: url('/Assets/hero/4v.jpg');
  }

  .carousel-caption {
    padding-bottom: 6rem;
  }

  .carousel-indicators {
    padding-bottom: 3.5rem;
  }

  .personal-info hr {
    display: block;
  }

  #portfolio-cards {
    display: grid;
    place-items: center center;
    padding: 0 5% 25% 5%;
  }

  #portfolio-cards .column {
    width: 100%;
    display: block;
    margin-bottom: 25px;
  }

  iframe {
    height: 2355px;
  }

  .photo-gallery {
    flex-direction: column;
    gap: 1.25rem;

  }

  .gcolumn {
    gap: 1.25rem;
    max-width: 100%;
  }

  .emftestimonial-dcontainer {
    padding: 0 5%;
  }

}